<!DOCTYPE html>
<html>
  <head>
    <title>La Canchita</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/la-canchita-web.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <% if (typeof user != 'undefined') { %>
    <script type='text/javascript'>
      window.user = <%- JSON.stringify(user) %>;
    </script>
    <% } %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/la-canchita-web.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
