<p>Hola!,</p>
<br/>
<p>Bienvenido a <%=signature%>!</p>
<br/>
<p>En el siguiente link podrás verificar el email y activar las noficiaciones:</p>
<p><a href="<%=link%>"><%=link%></a></p>
<br/>
<p>Saludos,<br/><%=signature%></p>
