<p>Hola!,</p>
<br/>
<p>Has pedido una contraseña nueva</p>
<br/>
<p>En el siguiente link podrás crearla:</p>
<p><a href="<%=link%>"><%=link%></a></p>
<br/>
<p>Si no pediste una constraseña nueva, ignora este email</p>
<br/>
<p>Saludos,<br/><%=signature%></p>
